<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascript/domParse.js"></script>
    <script src="/javascript/encode.js"></script>
    <script>
      var parse = function(str){
        var results = '';
        try{
          HTMLParse(he.unescape(str,{strict: true}),{
            start: function(tag,attrs,unary){
              result += '<'+tag;
              for(var i=0,len = attrs.length;i<len;i++){
                results += " "+attrs[i].name+'="'+attrs[i].escaped+'"';
              }
              results += (unary?"/":"")+">";
            },
            end: function(tag){
              results+="</"+tag+">";
            },
            chars: function(text){
              results += text;
            },
            comment: function(text){
              results+="<!--"+text+"-->";
            }
          });
        } catch(e) {

        } finally {

        }
      }
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    <ul>
      <li>?xss= &lt;script&gt; alert(0) &lt;script&gt;</li>
      <li>?xss= &lt;iframe src="https:www.baidu.com"&gt;&lt;/iframe&gt; </li>
    </ul>
    <textarea name="name" id="" cols="30" rows="10" id="txt">
    	<p>sks <img src="null" alt="" onerror="alert(1)"></p>
    </textarea>

    <button name="button" id="btn">评论</button>
    <button name="button" id="get">获取评论</button>

    <script>
      var btn = document.getElementById('btn');
      var get = document.getElementById('get');
      var txt = document.getElementById('txt');

      btn.addEventListener('click',function(){
        var xhr = new XMLHttpRequest();

        var url = '/comment?comment='+txt.value;

        xhr.open('GET',url,true);

        xhr.onreadystatechange = function(){
          if(xhr.status == 200){
            console.log(xhr);
          }else{
            console.log('error');
          }
        }
        xhr.send();
      });

      get.addEventListener('click', function(){
        var xhr = new XMLHttpRequest();
        var url = '/getComment';
        xhr.open('GET',url,true);
        xhr.onreadystatechange = function(){
          if(xhr.status == 200){
            var com = parse((JSON.parse(xhr.response).comment));
            var txt = document.createElement('span');
            txt.innerHTML = com;
            document.body.appendChild(txt);
          }else{
            console.log('error');
          }
        }
        xhr.send();
      })
    </script>
  </body>
</html>
